{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fitness App{% endblock %}</title>
</head>
<body>

    <div class="container visible">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

    <!-- ТВОЙ JS -->
    <script src="{% static 'js/fitness-chart.js' %}"></script>

    <script>
        console.log("Chart:", typeof Chart);
    </script>

</body>
</html>